@font-face {
  font-family: JuliaMono;
  src: local("JuliaMono"),
    url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2");
}

html.theme--documenter-dark pre,
html.theme--documenter-dark code {
  font-family: "JuliaMono";
}

html:not(.theme--documenter-dark) body #documenter {
  // Links

  a {
    color: #4595d1;
  }

  a:hover,
  a:focus {
    color: #194e82;
  }

  // Navigation

  .docs-sidebar {
    box-shadow: none;
    color: #ffffff;
    background-color: #194e82;

    .docs-package-name {
      a,
      a:hover {
        color: #ffffff;
      }
    }

    ul.docs-menu {
      border-top: none;

      %nav-hover {
        color: #ffffff;
        background-color: #4595d1;
      }

      .tocitem {
        color: #ffffff;
        background: none;

        &:hover {
          @extend %nav-hover;
        }
      }

      li.is-active {
        border-top: none;
        border-bottom: none;

        .tocitem {
          @extend %nav-hover;

          &:hover {
            @extend %nav-hover;
          }
        }

        ul.internal {
          margin: 0;
          border-top: none;

          li {
            margin-top: 0;
          }

          .tocitem {
            color: #194e82;
            background-color: #ffffff;
            padding: 0.5em;
            padding-left: 1em;

            &:hover {
              @extend %nav-hover;
            }
          }
        }
      }
    }
  }

  // Text

  article#documenter-page a.docs-heading-anchor {
    color: #194e82;
  }

  // Code

  pre,
  code {
    color: inherit;
    font-family: "JuliaMono";
    .hljs-meta {
      color: #4595d1;
    }
    .hljs-keyword {
      color: #194e82;
    }
  }
}

// Terminology Block

.admonition.is-category-terminology {
  background-color: #fffedd;
  border-color: #ffec8b;

  > .admonition-header {
    background-color: #ffec8b;
    color: black;

    &:before {
      content: "Terminology: ";
      font-family: inherit;
      font-weight: bold;
    }
  }
}

html.theme--documenter-dark .admonition.is-category-terminology {
  border-color: #ffec8b;
}

// Details
details {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background: aliceblue;
}

html.theme--documenter-dark details {
  background: #282f2f;
}

// Video Container for fullsize youtube videos. See https://www.ankursheel.com/blog/full-width-you-tube-video-embed
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-container > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
